<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owner.wedding" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".budget.BudgetActivity"
            android:label="@string/title_activity_budget" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".vendors.VendorsActivity"
            android:label="Vendors Activity" >
        </activity>
        <activity
            android:name=".guests.GuestsActivity"
            android:label="Guests Activity" >
        </activity>
        <activity
            android:name=".tables.TablesActivity"
            android:label="Tables Activity" >
        </activity>
        <activity
            android:name=".budget.EditBudgetEntryActivity"
            android:label="Budget Entry Activity" >
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity android:name=".calendar.CalendarActivity"
            android:label="Calendar Activity">
        </activity>
    </application>

</manifest>
